@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?l5ir53");
  src: url("../fonts/iconfont.eot?l5ir53#iefix") format("embedded-opentype"), url("../fonts/iconfont.ttf?l5ir53") format("truetype"), url("../fonts/iconfont.woff?l5ir53") format("woff"), url("../fonts/iconfont.svg?l5ir53#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "";
}

.icon-prefs:before {
  content: "";
}

.icon-bells:before {
  content: "";
}

.icon-bokal:before {
  content: "";
}

.icon-cake:before {
  content: "";
}

.icon-clock:before {
  content: "";
}

.icon-happy:before {
  content: "";
}

.icon-moon:before {
  content: "";
}

.icon-peace:before {
  content: "";
}

.icon-sad:before {
  content: "";
}

.icon-sleep:before {
  content: "";
}

.icon-sun:before {
  content: "";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 820px;
  padding: 0 10px;
  margin: 0 auto;
}
.container_nav {
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
}
body.lock {
  overflow: hidden;
}

.prefs {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.prefs.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.prefs__body {
  position: relative;
  color: white;
  background-color: #0b08db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 5px;
  width: 90%;
  max-width: 1000px;
  height: 60%;
}
.prefs__close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 3px;
  text-shadow: 0px 1px 2px black;
  font-size: calc(25px + 10 * ((100vw - 320px) / 704));
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
}
.prefs__close:active, .prefs__close:hover {
  color: red;
}
.prefs__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prefs__submit {
  cursor: pointer;
  font-size: calc(15px + 5 * ((100vw - 320px) / 704));
  text-shadow: 0px 1px 2px black;
  background-color: rgba(32, 221, 25, 0.5);
  margin: 10px;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}
.prefs__submit:hover {
  background-color: rgba(221, 25, 25, 0.7);
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
}
.prefs__submit:active {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
}
.prefs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.prefs__tab {
  cursor: pointer;
  font-size: calc(15px + 5 * ((100vw - 320px) / 704));
  text-shadow: 0px 1px 2px black;
  margin: 7.5px 0px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
  -webkit-transition: background-color 100ms ease 0s;
  transition: background-color 100ms ease 0s;
}
.prefs__tab:hover {
  -webkit-transition: background-color 100ms ease 0s;
  transition: background-color 100ms ease 0s;
  background-color: rgba(0, 0, 0, 0.4);
}
.prefs__tab.active {
  background-color: rgba(32, 221, 25, 0.5);
}
.prefs__content {
  padding: 18px 10px 10px;
  -webkit-box-shadow: 5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: 5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  overflow-y: auto;
  width: 100%;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: rgba(32, 221, 25, 0.5);
}
.prefs__card {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prefs__card.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.prefs__block {
  margin: 0px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
}
.prefs__block:last-child {
  margin: 0;
}
.prefs__title {
  text-align: center;
  font-size: calc(18px + 2 * ((100vw - 320px) / 704));
  margin: 0px 0px 13px 0px;
  text-shadow: 0px 1px 2px black;
}
.prefs__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.prefs__options il {
  cursor: pointer;
  margin: 5px;
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  font-weight: 700;
  color: black;
  padding: 5px 15px;
  text-align: center;
  border-radius: 8px;
  background-color: white;
  font-size: calc(15px + 3 * ((100vw - 320px) / 704));
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.prefs__options il.active {
  background-color: yellow;
}
.prefs__options il:active {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
          box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
}
.prefs__options il input {
  background-color: transparent;
  font-size: calc(15px + 3 * ((100vw - 320px) / 704));
  max-width: 110px;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  z-index: 5;
}
.header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 1fr;
      grid-template: auto auto auto/1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__time {
  padding: 10px 0;
  border-bottom: 1px solid;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: calc(17px + 9 * ((100vw - 320px) / 704));
  font-weight: 700;
  font-style: italic;
}
.header__time::before, .header__time::after {
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.header__time::before {
  margin: 0 10px 0 0;
}
.header__time::after {
  margin: 0 0 0 10px;
}
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  font-size: calc(27px + 13 * ((100vw - 320px) / 704));
  padding: 10px 0;
  font-weight: 700;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}
.header__title span {
  margin: 0 10px;
}

.week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  font-size: calc(21px + 7 * ((100vw - 320px) / 704));
  padding: 10px 0;
  border-top: 1px solid;
}
.week p {
  margin-bottom: 10px;
}
.week p:last-child {
  margin-bottom: none;
}
.week__today {
  padding: 5px 0;
}
.week__date, .week__time {
  font-style: italic;
}
.week__parity {
  display: inline-block;
  border-radius: 10px;
  position: relative;
  top: 0px;
  cursor: pointer;
  padding: 5px 25px;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.week__parity:hover, .week__parity:active {
  top: 2px;
}
.week__update {
  display: block;
  font-size: 15px;
  font-style: italic;
  text-decoration: underline;
  -webkit-transition: color 100ms ease 0s;
  transition: color 100ms ease 0s;
}

.main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  padding: 15px 0 45px;
}

.timetable {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.day {
  border: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 20px 0;
  border-radius: 15px;
  overflow: hidden;
}
.day__name {
  position: relative;
  cursor: pointer;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  text-align: center;
  font-size: calc(22px + 5 * ((100vw - 320px) / 704));
  font-weight: 700;
  padding: 10px 0;
  border-bottom: 0px solid;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.day__name::before, .day__name::after {
  content: "";
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
}
.day__name::before {
  left: 15%;
}
.day__name::after {
  right: 15%;
}
.day__name.slide {
  border-bottom: 2px solid;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.day__name.slide::before {
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
  left: 10px;
}
.day__name.slide::after {
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -webkit-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
  right: 10px;
}
.day__timetable {
  display: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  overflow-x: auto;
}

.lesson {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45px 1fr 30px 40px 110px;
      grid-template: 1fr/45px 1fr 30px 40px 110px;
      grid-template-areas: "time out out out out";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid;
}
.lesson_out {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: out;
}
.lesson_out span {
  margin: 0 5px;
}
.lesson:last-child {
  border-bottom: none;
}
.lesson.active {
  font-weight: 700;
}
.lesson__item {
  padding: 3px 3px;
  border-right: 1px dashed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: calc(15px + 0 * ((100vw - 320px) / 704));
  line-height: 17px;
}
.lesson__item:last-child {
  border-right: none;
}
.lesson__name {
  font-style: italic;
  border-right: none;
  cursor: help;
}
.lesson__type {
  border-left: 1px dashed;
}
.lesson__auditory {
  font-weight: 700;
}
.lesson__teacher {
  cursor: help;
  font-style: italic;
}

.time {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.now {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  z-index: 2;
}
.now__lesson {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.now__gone {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: calc(20px + 3 * ((100vw - 320px) / 704));
  font-weight: 700;
  padding: 5px;
}
.now__gone span {
  margin: 0 5px;
}
.now__item {
  border-bottom: 1px solid;
}
.now__item:last-child {
  border-bottom: none;
}
.now__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 290px;
          flex: 0 0 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid;
  margin: 0 10px;
}
.now__card:first-child {
  margin: 0 0 20px 0;
}
.now__title {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: calc(25px + 5 * ((100vw - 320px) / 704));
  font-weight: 700;
  text-shadow: 0 0 3px black;
  padding: 10px 0;
  border-bottom: 2px solid;
}
.now__content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc(20px + 3 * ((100vw - 320px) / 704));
}
.now__content__lesson {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.now__content.current {
  border-bottom: 2px solid;
}
.now__content.current.noNext {
  border-bottom: 0px solid;
}
.now__auditory {
  text-align: center;
  font-weight: 700;
  padding: 5px;
  border-bottom: 1px solid;
}
.now__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
}
.now__body.hidden {
  border-bottom: none;
}
.now__name {
  cursor: help;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  text-align: center;
  padding: 5px;
  border-right: 2px dotted;
}
.now__type {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  text-align: center;
  padding: 5px;
}
.now__countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 5px;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.nav {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
}
.nav__settings {
  cursor: pointer;
  font-size: calc(25px + 5 * ((100vw - 320px) / 704));
  margin: 0 10px;
  -webkit-transition: color 100ms ease 0s;
  transition: color 100ms ease 0s;
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin: 0 -15px;
  overflow-x: auto;
}
.nav__tab {
  font-size: calc(25px + 5 * ((100vw - 320px) / 704));
  -webkit-transition: background 300ms ease 0s;
  transition: background 300ms ease 0s;
  position: relative;
  cursor: pointer;
  padding: 10px 15px;
}
.nav__tab::before {
  content: "";
  height: 0px;
  width: 0%;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.nav__tab.active {
  border-left: 1px solid;
  border-right: 1px solid;
}
.nav__tab.active::before {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.light {
  /*.footer {


  }*/
}
.light .header {
  color: black;
  background-color: #f7f7f7;
  -webkit-box-shadow: 2px 0 5px black;
          box-shadow: 2px 0 5px black;
}
.light .header__time {
  border-color: #cacaca;
  color: #0b08db;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.light .header__time::before, .light .header__time::after {
  content: "";
}
.light .header__title {
  color: #0b08db;
  -webkit-animation: headerTitleAnim-light 4s linear 0s infinite;
          animation: headerTitleAnim-light 4s linear 0s infinite;
}
.light .week {
  border-color: #cacaca;
}
.light .week__parity {
  background-color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 3px 0 #464646;
          box-shadow: 0 3px 0 #464646;
}
.light .week__parity:hover, .light .week__parity:active {
  -webkit-box-shadow: 0 1px 0 #464646;
          box-shadow: 0 1px 0 #464646;
}
.light .week__parity.even {
  background: rgba(57, 252, 252, 0.3);
}
.light .week__parity.odd {
  background: rgba(247, 0, 255, 0.3);
}
.light .week__update {
  color: black;
}
.light .week__update:active, .light .week__update:hover {
  color: red;
}
.light .main {
  background: #f7f7f7 url("../img/main/stickers_30.webp") local;
}
.light .main.even::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(57, 252, 252, 0.3);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.light .main.odd::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(247, 0, 255, 0.3);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.light .day {
  background: #f7f7f7;
  border-color: #0b08db;
}
.light .day__name {
  text-shadow: 0 0 3px black;
  background: #0b08db;
  color: white;
  border-color: #0b08db;
}
.light .day__name.active {
  background: #00ff22;
}
.light .day__name.nextDay {
  background: #ffa600;
}
.light .day__name.slide {
  border-color: #0b08db;
}
.light .day__timetable {
  color: black;
}
.light .lesson {
  border-color: #0b08db;
}
.light .lesson_lection {
  background: rgba(49, 240, 167, 0.2);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.light .lesson_lection:hover {
  background: rgba(49, 240, 167, 0.4);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.light .lesson_practice {
  background: rgba(255, 123, 0, 0.2);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.light .lesson_practice:hover {
  background: rgba(255, 123, 0, 0.4);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.light .lesson.active {
  background: red;
  color: white;
  text-shadow: 0 0 1px black;
}
.light .lesson__item {
  border-color: #0b08db;
}
.light .nav {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -2px 0 5px #000;
          box-shadow: -2px 0 5px #000;
  background-color: #f7f7f7;
}
.light .nav__settings {
  color: #0b08db;
}
.light .nav__settings:active, .light .nav__settings:hover {
  color: red;
}
.light .nav__tab {
  color: #0b08db;
}
.light .nav__tab::before {
  background: #0b08db;
}
.light .nav__tab.active {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  border-color: #cacaca;
}
.light .nav__tab.active.even {
  background: rgba(57, 252, 252, 0.3);
  -webkit-transition: background 300ms ease 0s;
  transition: background 300ms ease 0s;
}
.light .nav__tab.active.odd {
  background: rgba(247, 0, 255, 0.3);
  -webkit-transition: background 300ms ease 0s;
  transition: background 300ms ease 0s;
}
.light .nav__tab.active::before {
  background: #0b08db;
}
.light .now__item {
  border-color: #0b08db;
}
.light .now__card {
  background: #f7f7f7;
  border-color: #0b08db;
}
.light .now__title {
  background: #0b08db;
  color: white;
  border-color: #0b08db;
}
.light .now__content, .light .now__gone {
  color: black;
}
.light .now__content.current, .light .now__gone.current {
  background: rgba(255, 0, 0, 0.2);
  border-color: #0b08db;
}
.light .now__content.next, .light .now__gone.next {
  background: rgba(255, 153, 0, 0.2);
}
.light .now__name {
  border-color: #0b08db;
}

@-webkit-keyframes headerTitleAnim-light {
  0% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  25% {
    text-shadow: 0 0 5px #09ff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    text-shadow: 0 0 4px #00d9ff;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    text-shadow: 0 0 3px #eeff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes headerTitleAnim-light {
  0% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  25% {
    text-shadow: 0 0 5px #09ff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    text-shadow: 0 0 4px #00d9ff;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    text-shadow: 0 0 3px #eeff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}
.dark {
  /*.footer {
  	background: $backgroundColorDark;		
  }*/
}
.dark .header {
  color: white;
  background-color: #222222;
  color: white;
  text-shadow: 0 0 5px black;
  -webkit-box-shadow: 2px 0 5px black;
          box-shadow: 2px 0 5px black;
}
.dark .header__time {
  border-color: rgba(255, 255, 255, 0.6);
}
.dark .header__time::before, .dark .header__time::after {
  content: "";
}
.dark .header__title {
  color: white;
  -webkit-animation: headerTitleAnim-dark 4s linear 0s infinite;
          animation: headerTitleAnim-dark 4s linear 0s infinite;
}
.dark .week {
  border-color: rgba(255, 255, 255, 0.6);
}
.dark .week__parity {
  background-color: white;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 3px 0 #dddddd;
          box-shadow: 0 3px 0 #dddddd;
}
.dark .week__parity:hover, .dark .week__parity:active {
  -webkit-box-shadow: 0 1px 0 #dddddd;
          box-shadow: 0 1px 0 #dddddd;
}
.dark .week__parity.even {
  background: rgba(57, 252, 252, 0.4);
}
.dark .week__parity.odd {
  background: rgba(247, 0, 255, 0.4);
}
.dark .week__update {
  color: white;
}
.dark .week__update:active, .dark .week__update:hover {
  color: red;
}
.dark .main {
  background: #222222 url("../img/main/stickers_60.webp") local;
}
.dark .main.even::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(57, 252, 252, 0.4);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.dark .main.odd::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(247, 0, 255, 0.4);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.dark .day {
  background: #222222;
  border-color: white;
}
.dark .day__name {
  text-shadow: 0 0 3px black;
  background: #222222;
  color: white;
  border-color: white;
}
.dark .day__name.active {
  background: #00d61d;
}
.dark .day__name.nextDay {
  background: #d88c00;
}
.dark .day__name.slide {
  border-color: white;
}
.dark .day__timetable {
  color: white;
}
.dark .lesson {
  border-color: white;
}
.dark .lesson_lection {
  background: rgba(49, 240, 167, 0.4);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.dark .lesson_lection:hover {
  background: rgba(49, 240, 167, 0.6);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.dark .lesson_practice {
  background: rgba(255, 123, 0, 0.4);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.dark .lesson_practice:hover {
  background: rgba(255, 123, 0, 0.6);
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
}
.dark .lesson.active {
  background: #c00000;
  color: white;
  text-shadow: 0 0 1px black;
}
.dark .lesson__item {
  border-color: white;
}
.dark .nav {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -2px 0 5px black;
          box-shadow: -2px 0 5px black;
  background-color: #222222;
}
.dark .nav__settings {
  color: white;
}
.dark .nav__settings:active, .dark .nav__settings:hover {
  color: red;
}
.dark .nav__tab {
  color: white;
}
.dark .nav__tab::before {
  background: white;
}
.dark .nav__tab.active {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  border-color: transparent;
}
.dark .nav__tab.active.even {
  background: rgba(57, 252, 252, 0.4);
  -webkit-transition: background 300ms ease 0s;
  transition: background 300ms ease 0s;
}
.dark .nav__tab.active.odd {
  background: rgba(247, 0, 255, 0.4);
  -webkit-transition: background 300ms ease 0s;
  transition: background 300ms ease 0s;
}
.dark .nav__tab.active::before {
  background: white;
}
.dark .now__item {
  border-color: white;
}
.dark .now__card {
  background: #222222;
  border-color: white;
}
.dark .now__title {
  background: #222222;
  color: white;
  border-color: white;
}
.dark .now__content, .dark .now__gone {
  color: white;
}
.dark .now__content.current, .dark .now__gone.current {
  background: rgba(255, 0, 0, 0.4);
  border-color: white;
}
.dark .now__content.next, .dark .now__gone.next {
  background: rgba(255, 153, 0, 0.4);
}
.dark .now__name {
  border-color: white;
}

@-webkit-keyframes headerTitleAnim-dark {
  0% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  25% {
    text-shadow: 0 0 5px #09ff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    text-shadow: 0 0 4px #00d9ff;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    text-shadow: 0 0 3px #eeff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@keyframes headerTitleAnim-dark {
  0% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  25% {
    text-shadow: 0 0 5px #09ff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    text-shadow: 0 0 4px #00d9ff;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  75% {
    text-shadow: 0 0 3px #eeff00;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    text-shadow: 0 0 4px red;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}