@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.eot?bxh4ji");
  src: url("../fonts/iconfont.eot?bxh4ji#iefix") format("embedded-opentype"), url("../fonts/iconfont.ttf?bxh4ji") format("truetype"), url("../fonts/iconfont.woff?bxh4ji") format("woff"), url("../fonts/iconfont.svg?bxh4ji#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "";
}

.icon-back:before {
  content: "";
}

.icon-random:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1020px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.header {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.header__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  -ms-grid-columns: 1fr;
      grid-template: auto auto auto/1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  width: 100%;
  text-align: center;
  font-size: calc(27px + 13 * ((100vw - 320px) / 704));
  padding: 10px 0;
  font-weight: 700;
}
.header__title span {
  margin: 0 10px;
}
.week {
  width: 100%;
  text-align: center;
  font-size: calc(21px + 7 * ((100vw - 320px) / 704));
  padding: 10px 0;
}
.week p {
  margin-bottom: 10px;
}
.week p:last-child {
  margin-bottom: none;
}
.week__today {
  border-top: 1px solid rgba(110, 110, 110, 0.192);
  padding: 5px 0;
}
.week__date, .week__time {
  font-style: italic;
}
.week__even-odd {
  display: inline-block;
  cursor: pointer;
  padding: 5px 25px;
  border-radius: 10px;
  position: relative;
  top: 0px;
  -webkit-box-shadow: 0 3px 0 #464646;
          box-shadow: 0 3px 0 #464646;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.week__even-odd:hover, .week__even-odd:active {
  top: 2px;
  -webkit-box-shadow: 0 1px 0 #464646;
          box-shadow: 0 1px 0 #464646;
}
.week__even-odd.even {
  background: rgba(57, 252, 252, 0.39);
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.week__even-odd.odd {
  background: rgba(218, 70, 255, 0.363);
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.nav {
  font-size: calc(25px + 5 * ((100vw - 320px) / 704));
  width: 100%;
  border-top: 1px solid rgba(110, 110, 110, 0.192);
  border-bottom: 1px solid rgba(110, 110, 110, 0.192);
}
.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 15px;
  margin: 0 -15px;
}
.nav__menu il {
  -webkit-transition: all 300ms ease 0s;
  transition: all 300ms ease 0s;
  cursor: pointer;
  padding: 10px 15px;
  border-right: 1px solid rgba(110, 110, 110, 0.192);
}
.nav__menu il.active {
  background: rgba(110, 110, 110, 0.082);
  border-bottom: 3px solid #0b08db;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
}
.nav__menu il:last-child {
  border-right: none;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  padding: 15px 0;
}
.main.even {
  background: rgba(57, 252, 252, 0.39);
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.main.odd {
  background: rgba(218, 70, 255, 0.363);
  -webkit-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.main__body {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}
.main__body_117 {
  display: none;
}
.main__body_217 {
  display: none;
}

.day {
  background: #fcfcfc;
  border: 1px solid #0b08db;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  -ms-grid-columns: 1fr;
      grid-template: auto auto/1fr;
  margin: 0 0 20px 0;
  border-radius: 15px;
  overflow: hidden;
}
.day__name {
  cursor: pointer;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: calc(22px + 5 * ((100vw - 320px) / 704));
  font-weight: 700;
  text-shadow: 0 0 3px black;
  padding: 10px 0;
  border-bottom: 1px solid #0b08db;
  background: #0b08db;
  color: white;
}
.day__name.active {
  background: #00ff22;
}
.day__timetable {
  display: none;
  grid-auto-rows: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.lesson {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45px 1fr 30px 40px 103px;
      grid-template: 1fr/45px 1fr 30px 40px 103px;
      grid-template-areas: "time out out out out";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #0b08db;
}
.lesson_1, .lesson_3 {
  background: rgba(168, 168, 168, 0.185);
}
.lesson:last-child {
  border-bottom: none;
}
.lesson.active {
  background: rgba(255, 0, 0, 0.849);
  color: white;
}
.lesson__item {
  padding: 3px 3px;
  border-right: 1px dashed #0b08db;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: calc(15px + 0 * ((100vw - 320px) / 704));
  line-height: 17px;
}
.lesson__item:last-child {
  border-right: none;
}
.lesson__name {
  font-style: italic;
  cursor: help;
}
.lesson__autidory {
  font-weight: 700;
}
.lesson__teacher {
  font-style: italic;
}
.lesson__out {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: out;
}

.time {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer {
  background: #0b08db;
}
.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__body p {
  font-size: calc(23px + 7 * ((100vw - 320px) / 704));
  padding: 10px 0;
  color: white;
  font-weight: 700;
  font-style: italic;
  text-shadow: 0 0 5px black;
}