.header {
	position: relative;
	width: 100%;
	top: 0;
	flex: 0 1 auto;
	z-index: 5;
	&__body {
		display: grid;
		grid-template: auto auto auto / 1fr;
		justify-items: center;
		align-items: center;
	}

	&__time {
		padding: 10px 0;
		border-bottom: 1px solid;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		@include adaptiv-font(26, 17);
		font-weight: 700;
		font-style: italic;
		&::before,
		&::after {
			font-family: "iconfont" !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
		}
		&::before {
			margin: 0 10px 0 0;
		}
		&::after {
			margin: 0 0 0 10px;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		@include adaptiv-font(40, 27);
		padding: 10px 0;
		font-weight: 700;
		transform: scale(0.95);
		span {
			margin: 0 10px;
		}
	}
}

.week {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	@include adaptiv-font(28, 21);
	padding: 10px 0;
	border-top: 1px solid;
	p {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: none;
		}
	}

	&__today {
		padding: 5px 0;
	}
	&__date,
	&__time {
		font-style: italic;
	}

	&__parity {
		display: inline-block;
		border-radius: 10px;
		position: relative;
		top: 0px;
		cursor: pointer;
		padding: 5px 25px;
		transition: all 500ms ease 0s;
		&:hover,
		&:active {
			top: 2px;
		}
	}

	&__update {
		display: block;
		font-size: 15px;
		font-style: italic;
		text-decoration: underline;
		transition: color 100ms ease 0s;
	}
}
