.now {
	display: none;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
	position: relative;
	z-index: 2;
	&__lesson {
		display: none;
		flex-direction: column;
	}
	&__gone {
		display: none;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include adaptiv-font(23, 20);
		font-weight: 700;
		padding: 5px;
		span {
			margin: 0 5px;
		}
	}
	&__item {
		border-bottom: 1px solid;
		&:last-child {
			border-bottom: none;
		}
	}
	&__card {
		flex: 0 0 290px;
		display: flex;
		flex-direction: column;
		border-radius: 15px;
		overflow: hidden;
		border: 2px solid;
		margin: 0 10px;
		&:first-child {
			margin: 0 0 20px 0;
		}
	}

	&__title {
		width: 100%;
		height: 100%;
		text-align: center;
		@include adaptiv-font(30, 25);
		font-weight: 700;
		text-shadow: 0 0 3px black;
		padding: 10px 0;
		border-bottom: 2px solid;
	}

	&__content {
		display: none;
		flex-direction: column;
		@include adaptiv-font(23, 20);
		&__lesson {
			display: flex;
			flex-direction: column;
		}
		&.current {
			border-bottom: 2px solid;
			&.noNext {
				border-bottom: 0px solid;
			}
		}
	}

	&__auditory {
		text-align: center;
		font-weight: 700;
		padding: 5px;
		border-bottom: 1px solid;
	}

	&__body {
		display: flex;
		font-style: italic;
		align-items: center;
		overflow-x: auto;
		&.hidden {
			border-bottom: none;
		}
	}

	&__name {
		cursor: help;
		flex: 0 0 80%;
		text-align: center;
		padding: 5px;
		border-right: 2px dotted;
	}

	&__type {
		flex: 0 0 20%;
		text-align: center;
		padding: 5px;
	}
	&__countdown {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 5px;
	}
}
