@charset "UTF-8";
.light-pink .header {
	color: black;
	background-color: #f7f7f7;
}
.light-pink .header__title {
	color: #0b08db;
	-webkit-animation: headerTitleAnim-light-pink 4s linear 0s infinite;
	animation: headerTitleAnim-light-pink 4s linear 0s infinite;
}
.light-pink .week {
	border-color: #cacaca;
}
.light-pink .week__parity {
	background-color: white;
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 3px 0 #464646;
	box-shadow: 0 3px 0 #464646;
}
.light-pink .week__parity:hover,
.light-pink .week__parity:active {
	-webkit-box-shadow: 0 1px 0 #464646;
	box-shadow: 0 1px 0 #464646;
}
.light-pink .week__parity.even {
	background: rgba(57, 252, 252, 0.3);
}
.light-pink .week__parity.odd {
	background: rgba(247, 0, 255, 0.3);
}
.light-pink .week__update {
	color: black;
}
.light-pink .week__update:active,
.light-pink .week__update:hover {
	color: red;
}
.light-pink .nav {
	text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
	border-color: #cacaca;
}
.light-pink .nav__settings {
	color: #0b08db;
}
.light-pink .nav__settings:active,
.light-pink .nav__settings:hover {
	color: red;
}
.light-pink .nav__tab {
	color: #0b08db;
}
.light-pink .nav__tab::before {
	background: #0b08db;
}
.light-pink .nav__tab.active {
	border-color: #cacaca;
}
.light-pink .nav__tab.active.even {
	background: rgba(57, 252, 252, 0.3);
	-webkit-transition: background 300ms ease 0s;
	transition: background 300ms ease 0s;
}
.light-pink .nav__tab.active.odd {
	background: rgba(247, 0, 255, 0.3);
	-webkit-transition: background 300ms ease 0s;
	transition: background 300ms ease 0s;
}
.light-pink .nav__tab.active::before {
	background: #0b08db;
}
.light-pink .main {
	background: #f7f7f7 url("../img/main/stickers_30.webp") local;
}
.light-pink .main.even::before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(57, 252, 252, 0.3);
	-webkit-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.light-pink .main.odd::before {
	content: "";
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(247, 0, 255, 0.3);
	-webkit-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.light-pink .day {
	background: #f7f7f7;
	border-color: #0b08db;
}
.light-pink .day__name {
	text-shadow: 0 0 3px black;
	background: #0b08db;
	color: white;
	border-color: #0b08db;
}
.light-pink .day__name.active {
	background: #00ff22;
}
.light-pink .day__name.nextDay {
	background: #ffa600;
}
.light-pink .day__name.slide {
	border-color: #0b08db;
}
.light-pink .day__timetable {
	color: black;
}
.light-pink .lesson {
	border-color: #0b08db;
}
.light-pink .lesson_lection {
	background: rgba(49, 240, 167, 0.2);
	-webkit-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.light-pink .lesson_lection:hover {
	background: rgba(49, 240, 167, 0.4);
	-webkit-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.light-pink .lesson_practice {
	background: rgba(255, 123, 0, 0.2);
	-webkit-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.light-pink .lesson_practice:hover {
	background: rgba(255, 123, 0, 0.4);
	-webkit-transition: all 300ms ease 0s;
	transition: all 300ms ease 0s;
}
.light-pink .lesson.active {
	background: red;
	color: white;
	text-shadow: 0 0 1px black;
}
.light-pink .lesson__item {
	border-color: #0b08db;
}
.light-pink .footer {
	background: #0b08db;
	color: white;
	text-shadow: 0 0 5px black;
}
.light-pink .footer__time::before,
.light-pink .footer__time::after {
	content: "";
}
.light-pink .now__item {
	border-color: #0b08db;
}
.light-pink .now__card {
	background: #f7f7f7;
	border-color: #0b08db;
}
.light-pink .now__title {
	background: #0b08db;
	color: white;
	border-color: #0b08db;
}
.light-pink .now__content {
	color: black;
}
.light-pink .now__content.current {
	background: rgba(255, 0, 0, 0.2);
	border-color: #0b08db;
}
.light-pink .now__content.next {
	background: rgba(255, 153, 0, 0.2);
}
.light-pink .now__name {
	border-color: #0b08db;
}

@-webkit-keyframes headerTitleAnim-light-pink {
	0% {
		text-shadow: 0 0 4px red;
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	25% {
		text-shadow: 0 0 5px #09ff00;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		text-shadow: 0 0 4px #00d9ff;
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	75% {
		text-shadow: 0 0 3px #eeff00;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		text-shadow: 0 0 4px red;
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
}

@keyframes headerTitleAnim-light-pink {
	0% {
		text-shadow: 0 0 4px red;
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	25% {
		text-shadow: 0 0 5px #09ff00;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		text-shadow: 0 0 4px #00d9ff;
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	75% {
		text-shadow: 0 0 3px #eeff00;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		text-shadow: 0 0 4px red;
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
}
