$accentColor-dark: rgb(255, 255, 255);
$accentColorActive-dark: rgb(0, 214, 29);
$accentColorNextDay-dark: rgb(216, 140, 0);
$boxShadowColor-dark: rgb(221, 221, 221);

$textColor_1-dark: white;
$textColor_2-dark: white;
$textColorActive-dark: red;
$textColorShadow_1-dark: rgba(0, 0, 0, 0.6);
$textColorShadow_2-dark: black;

$lectionColor: rgba(49, 240, 167, 0.4);
$lectionColorHover: rgba(49, 240, 167, 0.6);
$practiceColor: rgba(255, 123, 0, 0.4);
$practiceColorHover: rgba(255, 123, 0, 0.6);
$lessonActiveColor: rgb(192, 0, 0);

$evenColor-dark: rgba(57, 252, 252, 0.4);
$oddColor-dark: rgba(247, 0, 255, 0.4);

$backgroundColor-dark: rgb(34, 34, 34);
$borderColor_1-dark: rgba(255, 255, 255, 0.6);

$nowCurrentColor-dark: rgba(255, 0, 0, 0.4);
$nowNextColor-dark: rgba(255, 153, 0, 0.4);
.dark {
	// ! ================== Header =======================
	.header {
		color: $textColor_1-dark;
		background-color: $backgroundColor-dark;
		color: $textColor_2-dark;
		text-shadow: 0 0 5px $textColorShadow_2-dark;
		box-shadow: 2px 0 5px black;

		&__time {
			border-color: $borderColor_1-dark;
			&::before,
			&::after {
				content: "\e906";
			}
		}

		&__title {
			color: $accentColor-dark;
			animation: headerTitleAnim-dark 4s linear 0s infinite;
		}
	}

	.week {
		border-color: $borderColor_1-dark;

		&__parity {
			background-color: white;
			text-shadow: 0 0 2px $textColorShadow_1-dark;
			box-shadow: 0 3px 0 $boxShadowColor-dark;
			&:hover,
			&:active {
				box-shadow: 0 1px 0 $boxShadowColor-dark;
			}

			&.even {
				background: $evenColor-dark;
			}

			&.odd {
				background: $oddColor-dark;
			}
		}

		&__update {
			color: $textColor_1-dark;
			&:active,
			&:hover {
				color: $textColorActive-dark;
			}
		}
	}

	// ! ================== Main =======================
	.main {
		background: $backgroundColor-dark url("../img/main/stickers_60.webp") local;
		&.even {
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: $evenColor-dark;
				transition: all 300ms ease 0s;
			}
		}
		&.odd {
			&::before {
				content: "";
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: $oddColor-dark;
				transition: all 300ms ease 0s;
			}
		}
	}

	// ! ================== Timetable =======================
	.day {
		background: $backgroundColor-dark;
		border-color: $accentColor-dark;

		&__name {
			text-shadow: 0 0 3px $textColorShadow_2-dark;
			background: $backgroundColor-dark;
			color: $textColor_2-dark;
			border-color: $accentColor-dark;

			&.active {
				background: $accentColorActive-dark;
			}

			&.nextDay {
				background: $accentColorNextDay-dark;
			}

			&.slide {
				border-color: $accentColor-dark;
			}
		}

		&__timetable {
			color: $textColor_1-dark;
		}
	}

	.lesson {
		border-color: $accentColor-dark;

		&_lection {
			background: $lectionColor;
			transition: all 300ms ease 0s;
			&:hover {
				background: $lectionColorHover;
				transition: all 300ms ease 0s;
			}
		}

		&_practice {
			background: $practiceColor;
			transition: all 300ms ease 0s;
			&:hover {
				background: $practiceColorHover;
				transition: all 300ms ease 0s;
			}
		}

		&.active {
			background: $lessonActiveColor;
			color: $textColor_2-dark;
			text-shadow: 0 0 1px $textColorShadow_2-dark;
		}

		&__item {
			border-color: $accentColor-dark;
		}
	}

	// ! ================== Footer =======================
	/*.footer {
		background: $backgroundColorDark;		
	}*/

	.nav {
		text-shadow: 0 0 2px $textColorShadow_1-dark;
		// border-color: $borderColor_1-dark;
		box-shadow: -2px 0 5px rgb(0, 0, 0);
		background-color: $backgroundColor-dark;

		&__settings {
			color: $accentColor-dark;
			&:active,
			&:hover {
				color: red;
			}
		}

		&__tab {
			color: $accentColor-dark;
			&::before {
				background: $accentColor-dark;
			}

			&.active {
				box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
				border-color: transparent;
				&.even {
					background: $evenColor-dark;
					transition: background 300ms ease 0s;
				}
				&.odd {
					background: $oddColor-dark;
					transition: background 300ms ease 0s;
				}
				&::before {
					background: $accentColor-dark;
				}
			}
		}
	}

	// ! ================== Now =======================
	.now {
		&__item {
			border-color: $accentColor-dark;
		}

		&__card {
			background: $backgroundColor-dark;
			border-color: $accentColor-dark;
		}

		&__title {
			background: $backgroundColor-dark;
			color: $textColor_2-dark;
			border-color: $accentColor-dark;
		}

		&__content,
		&__gone {
			color: $textColor_1-dark;
			&.current {
				background: $nowCurrentColor-dark;
				border-color: $accentColor-dark;
			}
			&.next {
				background: $nowNextColor-dark;
			}
		}

		&__name {
			border-color: $accentColor-dark;
		}
	}
}

@keyframes headerTitleAnim-dark {
	0% {
		text-shadow: 0 0 4px rgb(255, 0, 0);
		transform: scale(0.95);
	}
	25% {
		text-shadow: 0 0 5px rgb(9, 255, 0);
		transform: scale(1);
	}
	50% {
		text-shadow: 0 0 4px rgb(0, 217, 255);
		transform: scale(0.95);
	}
	75% {
		text-shadow: 0 0 3px rgb(238, 255, 0);
		transform: scale(1);
	}
	100% {
		text-shadow: 0 0 4px rgb(255, 0, 0);
		transform: scale(0.95);
	}
}
