.dark {
	&.header {
		&__body {
			background-color: $backgroundColorDark;
		}
		&__title {
			color: white;
		}
	}

	&.week {
		&__today {
			border-top: 1px solid $borderColorDark;
			color: white;
		}
		&__parity {
			color: $backgroundColorDark;
			&.even {
				background-color: $evenColorDark;
			}
			&.odd {
				background-color: $oddColorDark;
			}
		}
		&__update {
			color: white;
			transition: color 300ms ease 0s;
			&:active {
				color: red;
				transition: color 300ms ease 0s;
			}
		}
	}

	&.nav {
		border-top: 1px solid $borderColorDark;
		&__tab {
			color: white;
			&.active {
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				// transition: all 300ms ease 0s;
				&.even {
					background: transparent;
					transition: background 300ms ease 0s;
				}
				&.odd {
					background: transparent;
					transition: background 300ms ease 0s;
				}
				&::before {
					background: white;
				}
			}
		}
	}

	&.main {
		&.even {
			background: $backgroundColorDark url("../img/stickers.webp") local;
			transition: all 300ms ease 0s;
		}
		&.odd {
			background: $backgroundColorDark url("../img/stickers.webp") local;
			transition: all 300ms ease 0s;
		}
	}

	&.now {
		&__gone {
			background: $backgroundColorDark;
			color: white;
		}

		&__title {
			border-color: $borderColorDark;
			background: $backgroundColorDark;
		}

		&__item {
			border-color: $borderColorDark;
		}

		&__card {
			border-color: $borderColorDark;
			color: white;
		}

		&__name {
			border-color: $borderColorDark;
		}
	}
	&.current {
		background: rgb(56, 0, 0);
		border-color: $borderColorDark;
	}
	&.next {
		background: rgb(82, 49, 1);
	}

	&.footer {
		border-top: 1px solid $borderColorDark;
		background: $backgroundColorDark;
		&__time {
			&::before,
			&::after {
				content: "\e90a";
			}
		}
	}

	&.day {
		border-color: $borderColorDark;
		&__name {
			background: $backgroundColorDark;
			border-color: $borderColorDark;
			&.active {
				background: rgb(0, 204, 27);
			}
			&.nextDay {
				background: rgb(207, 135, 0);
			}
		}
	}

	&.lesson {
		color: white;
		background: $backgroundColorDark;
		border-color: $borderColorDark;
		&.active {
			background: rgb(190, 0, 0);
		}
		&_practice {
			background: rgb(56, 27, 0);
			&:hover {
				background: rgb(95, 46, 0);
				transition: all 300ms ease 0s;
			}
		}
		&_lection {
			background: rgb(0, 56, 35);
			transition: all 300ms ease 0s;
			&:hover {
				background: rgb(0, 90, 56);
				transition: all 300ms ease 0s;
			}
		}
		&__item {
			border-color: $borderColorDark;
		}
	}
}

body.dark {
	.header {
		&__body {
			background-color: $backgroundColorDark;
		}
		&__title {
			color: white;
		}
	}

	.week {
		&__today {
			border-top: 1px solid $borderColorDark;
			color: white;
		}
		&__parity {
			color: $backgroundColorDark;
			&.even {
				background-color: $evenColorDark;
			}
			&.odd {
				background-color: $oddColorDark;
			}
		}
		&__update {
			color: white;
			transition: color 300ms ease 0s;
			&:active {
				color: red;
				transition: color 300ms ease 0s;
			}
		}
	}

	.nav {
		border-top: 1px solid $borderColorDark;
		&__tab {
			color: white;
			&.active {
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				// transition: all 300ms ease 0s;
				&.even {
					background: transparent;
					transition: background 300ms ease 0s;
				}
				&.odd {
					background: transparent;
					transition: background 300ms ease 0s;
				}
				&::before {
					background: white;
				}
			}
		}
		&__settings {
			color: white;
			transition: color 100ms ease 0s;
			&:active {
				color: red;
				transition: color 100ms ease 0s;
			}
		}
	}

	.main {
		&.even {
			background: $backgroundColorDark url("../img/stickers.webp") local;
			transition: all 300ms ease 0s;
		}
		&.odd {
			background: $backgroundColorDark url("../img/stickers.webp") local;
			transition: all 300ms ease 0s;
		}
	}

	.now {
		&__gone {
			background: $backgroundColorDark;
			color: white;
		}

		&__title {
			border-color: $borderColorDark;
			background: $backgroundColorDark;
		}

		&__item {
			border-color: $borderColorDark;
		}

		&__card {
			border-color: $borderColorDark;
			color: white;
		}

		&__name {
			border-color: $borderColorDark;
		}
	}
	.current {
		background: rgb(56, 0, 0);
		border-color: $borderColorDark;
	}
	.next {
		background: rgb(82, 49, 1);
	}

	.footer {
		border-top: 1px solid $borderColorDark;
		background: $backgroundColorDark;
		&__time {
			&::before,
			&::after {
				content: "\e906";
			}
		}
	}

	.day {
		border-color: $borderColorDark;
		&__name {
			background: $backgroundColorDark;
			border-color: $borderColorDark;
			&.active {
				background: rgb(0, 204, 27);
			}
			&.nextDay {
				background: rgb(207, 135, 0);
			}
		}
	}

	.lesson {
		color: white;
		background: $backgroundColorDark;
		border-color: $borderColorDark;
		&.active {
			background: rgb(190, 0, 0);
		}
		&_practice {
			background: rgb(56, 27, 0);
			&:hover {
				background: rgb(95, 46, 0);
				transition: all 300ms ease 0s;
			}
		}
		&_lection {
			background: rgb(0, 56, 35);
			transition: all 300ms ease 0s;
			&:hover {
				background: rgb(0, 90, 56);
				transition: all 300ms ease 0s;
			}
		}
		&__item {
			border-color: $borderColorDark;
		}
	}
}
